*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

body{
    overflow-x: hidden
}

html{
    scroll-behavior: smooth;
    transition: all 0.5s
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Playfair+Display&family=Poppins&family=Roboto&family=Roboto+Slab&display=swap');

.navbar{
    background-color: #001232;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px 0px;
}

.first-nav{
    display: flex;
    align-items: center;
}

.first-nav span{
    border: 2px solid crimson;
    height: 35px;
    width: 35px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.first-nav span:hover{
    background-color: crimson;
    transition: 0.5s;
}

.first-nav span:hover i{
    transition: 0.5s;
    color: #ffffff;
    transform: scale(1.4);
}

.first-nav p{
    color: #ffffff;
    font-size: 16px;
    margin: 0 5px;
}
.first-nav i{
    color: crimson;
    font-size: 12px;
}

.second-nav{
     display: flex;
     align-items: center;
}

.second-nav span{
    border: 2px solid crimson;
    height: 35px;
    width: 35px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.second-nav span:hover{
    background-color: crimson;
    transition: 0.5s;
}

.second-nav span:hover i{
    transition: 0.5s;
    color: #ffffff;
    transform: scale(1.4);
}

.second-nav p{
    color: #ffffff;
    font-size: 16px;
    margin: 0 5px;
}
.second-nav i{
    color: crimson;
    font-size: 12px;
}

.third-nav{
    display: flex;
    align-items: center;
}

.third-nav span{
   border: 2px solid crimson;
   height: 35px;
   width: 35px;
   border-radius: 50px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.third-nav span:hover{
   background-color: crimson;
   transition: 0.5s;
}

.third-nav span:hover i{
   transition: 0.5s;
   color: #ffffff;
   transform: scale(1.4);
}

.third-nav p{
   color: #ffffff;
   font-size: 16px;
   margin: 0 5px;
}
.third-nav i{
   color: crimson;
   font-size: 12px;
}

/* ==========================second navbar css========================== */

.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 50px;
    /* background-color: #fae425; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.logo img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    max-width: 100%;
    border-radius: 50px;
    display: block;
    margin: auto;
}

.second-head ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

.second-head ul li{
    list-style: none;
}

.second-head ul li a{
      padding: 0 15px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 16px;
}

.second-head ul li a:hover{
    background-color: crimson;
    transition: 0.5s;
    color:#ffffff;
   padding: 20px 15px;
}

.home-section{
    background-color: #ec3237;
    padding: 60px 50px;
    text-align: center;
}

.home-section .home-heading{
    color: #ffffff;
    font-size: 40px;
    font-weight: bolder;
}

.home-section .home-para{
    color: #ffffff;
    opacity: 0.9;
    font-size: 20px;
    width: 80%;
    display: block;
    margin: 20px auto;
    letter-spacing: 1px;
    line-height: 24px;
}
.home-btn button{
  padding: 12px 25px;
  border: none;
  background-color: rgb(47, 32, 62);
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  margin-top: 20px;
}
.home-btn  button:hover{
    background-color: rgb(83, 41, 125);
    transition: 0.5s;
}
.animate__animated.animate__zoomIn {
    --animate-duration: 2s;
}

.about-section{
    background-color: #ffffff;
    padding: 60px 50px;
}
.card-section{
    display: flex;
   align-items: center;
   justify-content: space-between;
}

.card-section .card{
  max-width: 400px;
  width: 100%;
  object-fit: cover;
  padding: 40px 20px;
  background-color: #222;
  margin: 0 3px;
  border-radius:10px ;
  height: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all 0.3s ease-in;
}

.card img{
    width: 160px;
    max-width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid crimson;
    display: block;
    margin: auto;
}

.card h3{
    color: #ffffff;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
}

.card p{
    text-align: center;
    width: 100%;
    color: #ffffff;
    opacity: 0.7;
   font-size: 14px;
   margin-top: 20px;
   font-weight: 200;
}

.card:hover{
    /* background-color: #ec3237; */
     background-color: #fae425;

}
.card:hover.card h3{
    color: black;
}
.card:hover.card p{
    opacity: 100%;
    color: black;
}

.card:hover.card img{
    border: 4px solid rgb(61, 155, 186);
    transition: all 0.5 ease-in;
}
footer{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 60px 50px;
    background-color:#333333 ;
}

.foot-img img{
    width: 50px;
    max-width: 100%;
    height: 50px;
    border-radius: 50%;
   border: 3px solid crimson;
}

.first-footer .yog{
   width: 360px;
   max-width: 100%;
   font-size: 16px;
   color: white;
   /* opacity: 0.8; */
   line-height: 24px;
   font-weight: 400;
   margin-top: 20px;
}
.map-location{
    display: flex;
    align-items: center;
}
.map-location{
    margin-top: 20px;
}
.map-location span{
    border: 2px solid crimson;
    height: 35px;
    width: 35px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.map-location span:hover{
    background-color: crimson;
    transition: 0.5s;
}

.map-location span:hover i{
    transition: 0.5s;
    color: #ffffff;
    transform: scale(1.4);
}

.map-location i{
    color: crimson;
    font-size: 12px;
}
.map-location p{
    margin-left: 8px;
    color: #ffffff;
    font-size: 16px;
}
.second-footer h2{
   font-size: 24px;
   color: #ffffff;
   font-weight: bold;
   border-bottom: 1.5px solid crimson;
}
.second-footer .para-foot{
    margin-top: 20px;
}
.second-footer .para-foot p{
    color: white;
    font-size: 14px;
    margin: 15px 0px;
}

.second-footer .para-foot a{
    text-decoration: none;
}

.second-footer .para-foot p:hover{
    background-color: crimson;
    transition: 0.5s;
    color:#ffffff;
    padding: 10px 0px;
}
.third-footer h2{
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
    border-bottom: 1.5px solid crimson;
}

.third-footer p{
    color: #ffffff;
    margin-top: 15px;
    font-size: 14.5px;
}
.social-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social-links {
    margin-top: 20px;
}
.social-links span{
    border: 2px solid crimson;
    height: 35px;
    width: 35px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}
.social-links span:hover{
    background-color: crimson;
    transition: 0.5s;
}
.social-links i{
    color: crimson;
    font-size: 12px;
}
.social-links span:hover i{
    color: white;
    transform: scale(1.4);
    transition: 0.5s;
}
.another-footer{
    background: #222222;
    padding: 20px 50px;
}
.another-footer p{
    text-align: center;
    color: #ffffff;
    font-size: 14px;
}
.services{
    padding: 60px 50px;
    background-color: #e3f6f6;
}

.services h2{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.services .hr-line{
    width: 180px;
    display: block;
    margin: auto;
   border-bottom: 2px solid crimson;
   max-width: 100%;
}

.services .first-service-para{
    font-size: 16px;
    margin: 20px 0px;
   text-align: center;
   line-height: 22px;
}
.building{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 60px;
}
.first-building{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #222222;
    width: 280px;
    max-width: 100%;
    height: 80px;
    padding: 10px 0px;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 0 3px;
}
.first-building:hover{
    background-color: #fae425;
    transition: 0.5s;
    transform: skew(10deg);
}
.first-building:hover.first-building p{
    color: black;
}
.first-building p{
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
}

.first-building span{
    color: crimson;
    font-size: 22px;
}

.second-building{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #222222;
    width: 280px;
    max-width: 100%;
    height: 80px;
    padding: 10px 0px;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 0 3px;
}
.second-building:hover{
    background-color: #fae425;
    transition: 0.5s;
    transform: skew(10deg);
}
.second-building:hover.second-building p{
    color: black;
}
.second-building p{
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
}

.second-building span{
    color: crimson;
    font-size: 22px;
}
.third-building{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #222222;
    width: 280px;
    max-width: 100%;
    height: 80px;
    padding: 10px 0px;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 0 3px;
}

.third-building:hover{
    background-color: #fae425;
    transition: 0.5s;
    transform: skew(10deg);
}
.third-building:hover.third-building p{
    color: black;
}
.third-building p{
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
}

.third-building span{
    color: crimson;
    font-size: 22px;
}
.suilding{
    margin-top: 30px;
}

.diagram{
    padding: 60px 50px;
}
.diagram h2{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}
.diagram .hr-line{
    width: 130px;
    display: block;
    max-width: 100%;
    margin: auto;
   border-bottom: 2px solid crimson;
}
.diagram-logo img{
    display: block;
    margin: auto;
   max-width: 1000px;
   width: 100%;
}
.container{
    padding: 60px 100px;
    /* background-color: #f2f2f2; */
    background-image: url('../img/background1.jpg'), radial-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}
.container h2{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: #ffffff;

}
.container p{
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    margin-top: 25px;
    font-weight: 500;
}
.container .hr-line{
    border-bottom: 2px solid crimson ;
    width: 150px;
    display: block;
    margin: auto;
    max-width: 100%;
}
form{
    margin-top: 50px;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: 16px;
  }

  input[type=email]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: 16px;
  }
  
  input[type=submit] {
    background-color: rgb(47, 32, 62);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
   width: 200px;
   max-width: 100%;
   font-size: 16px;
   opacity: 100%;
  }
  input{
    opacity: 0.9;
  }
  textarea{
    opacity: 0.9;
  }
  input:focus{
    outline: none;
  }
  textarea:focus{
    outline: none;
    resize: none;
  }
  
  input[type=submit]:hover {
    background-color: rgb(83, 41, 125);
    transition: 0.5s;
  }
  .twiters{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @media only screen and (max-width:773px) {
     .navbar{
        flex-direction: column;
        align-items: flex-start;
        padding: 15px 20px;
     }
     .second-nav{
        margin-top: 20px;
     }
     .third-nav{
        margin-top: 20px;
     }
     .head{
        display: none;
        padding: 12px 20px;
     }
     .home-section{
        padding: 60px 20px;
     }
     .about-section{
        padding: 60px 20px;
     }
     .services{
        padding: 60px 20px;
     }
     .diagram{
        padding: 60px 20px;
     }
     .container{
        padding: 60px 20px;
     }
     .another-footer{
        padding: 20px 20px;
     }
     footer{
        padding: 60px 20px; 
        flex-direction: column;
        align-items: center;
     }
     .foot-img img{
        display: block;
        margin: auto;
     }
     .card-section{
        flex-direction: column;
     }

     .card-section .card{
        margin: 10px 0px;
     }
     .first-footer .yog{
        /* width: 100%; */
        text-align: center;
        line-height: 22px;
    }
    .map-location{
        flex-direction: column;
    }
    .map-location p{
        text-align: center;
    }
    .second-footer{
        margin-top: 20px;
        text-align: center;
    }
     .third-footer{
        text-align: center;
     }
     .second-things{
        display: none;
     }
  }

  @media only screen and (max-width:885px){
    .building{
        flex-direction: column;
    }
    .first-building{
        width: 380px;
        max-width: 100%;
    }
    .second-building{
        width: 380px;
        max-width: 100%;
        margin-top: 30px;
    }
    .third-building{
        width: 380px;
        max-width: 100%;
        margin-top: 30px;
    }
  }

  @media only screen and (max-width:450px){
    .first-nav p{
        font-size: 14px;
    }
    .first-nav span{
        width: 28px;
        height: 28px;
    }
    .first-nav i{
        font-size: 10px;
    }
    .second-nav p{
        font-size: 14px;
    }
    .second-nav span{
        width: 28px;
        height: 28px;
    }
    .second-nav i{
        font-size: 10px;
    }
    .third-nav p{
       font-size: 14px;
    }
    .third-nav span{
        width: 28px;
        height: 28px;
    }
    .third-nav i{
        font-size: 10px;
    }
    .home-section .home-heading{
        font-size: 25px;
    }
    .home-section .home-para{
        font-size: 16px;
        width: 100%;
    }
    .services h2{
        font-size: 25px;
    }
    .services .hr-line{
        width: 150px;
    }
    .diagram h2{
      font-size: 25px;
    }
    .diagram .hr-line{
        width: 110px;
    }
    .container h2{
        font-size: 25px;
    }
    .container .hr-line{
        width: 135px;
    }
    .container p{
        font-size: 16px;
    }
    .first-footer .yog{
        width: 100%;
        text-align: center;
        font-size: 14px;
        line-height: 22px;
    }
    .map-location p{
      font-size: 14px;
    }
    .another-footer p{
        font-size: 12px;
    }
    .first-building p{
        font-size: 14px;
    }
    .second-building p{
        font-size: 14px;
    }
    .third-building p{
        font-size: 14px;
    }
  }
 